In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df= pd.read_csv("C:/Users/DELL/Downloads/Social_Media_Advertising_data.csv")
df.head()

,Campaign_ID,Target_Audience,Campaign_Goal,Duration,Channel_Used,Conversion_Rate,Acquisition_Cost,ROI,Location,Clicks,Impressions
0,529013,Men 35-44,Product Launch,15 Days,Instagram,0.15,$500.00,5.790000,Las Vegas,500,3000
1,275352,Women 45-60,Market Expansion,15 Days,Facebook,0.01,$500.00,7.210000,Los Angeles,500,3000
2,692322,Men 45-60,Product Launch,15 Days,Instagram,0.08,$500.00,0.430000,Austin,500,3000
3,675757,Men 25-34,Increase Sales,15 Days,Pinterest,0.03,$500.00,0.909824,Miami,293,1937
4,535900,Men 45-60,Market Expansion,15 Days,Pinterest,0.13,$500.00,1.422828,Austin,293,1937

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Campaign_ID       300000 non-null  int64
 1   Target_Audience   300000 non-null  object
 2   Campaign_Goal     300000 non-null  object
 3   Duration          300000 non-null  object
 4   Channel_Used      300000 non-null  object
 5   Conversion_Rate   300000 non-null  float64
 6   Acquisition_Cost  300000 non-null  object
 7   ROI               300000 non-null  float64
 8   Location          300000 non-null  object
 9   Clicks            300000 non-null  int64
 10  Impressions       300000 non-null  int64
dtypes: float64(2), int64(3), object(6)
memory usage: 25.2+ MB

In [4]:
df.describe()

,Campaign_ID,Conversion_Rate,ROI,Clicks,Impressions
count,300000.000000,300000.000000,300000.000000,300000.000000,300000.000000
mean,550444.817930,0.080009,3.177691,18153.673343,56034.237467
std,260252.569191,0.040563,2.461200,11027.023811,32583.135246
min,100001.000000,0.010000,0.000000,293.000000,1937.000000
25%,325003.500000,0.050000,0.930000,8821.000000,28362.000000
50%,551164.500000,0.080000,2.670000,17230.000000,54098.000000
75%,776284.500000,0.110000,5.330000,26808.000000,80925.250000
max,999998.000000,0.150000,8.000000,40000.000000,120000.000000

In [5]:
df.isnull().sum()

Campaign_ID         0
Target_Audience     0
Campaign_Goal       0
Duration            0
Channel_Used        0
Conversion_Rate     0
Acquisition_Cost    0
ROI                 0
Location            0
Clicks              0
Impressions         0
dtype: int64

In [6]:
df.columns

Index(['Campaign_ID', 'Target_Audience', 'Campaign_Goal', 'Duration',
       'Channel_Used', 'Conversion_Rate', 'Acquisition_Cost', 'ROI',
       'Location', 'Clicks', 'Impressions'],
      dtype='object')

In [7]:
df.Target_Audience.unique()

array(['Men 35-44', 'Women 45-60', 'Men 45-60', 'Men 25-34',
       'Women 35-44', 'All Ages', 'Women 25-34', 'Men 18-24',
       'Women 18-24'], dtype=object)

In [8]:
df.Campaign_Goal.unique()

array(['Product Launch', 'Market Expansion', 'Increase Sales',
       'Brand Awareness'], dtype=object)

In [9]:
df.Duration.unique()

array(['15 Days', '30 Days', '45 Days', '60 Days'], dtype=object)

In [10]:
df.Channel_Used.unique()

array(['Instagram', 'Facebook', 'Pinterest', 'Twitter'], dtype=object)

In [11]:
df.Location.unique()

array(['Las Vegas', 'Los Angeles', 'Austin', 'Miami', 'New York'],
      dtype=object)

In [12]:
# converting to int
df['Duration'] = df['Duration'].str.replace('Days', '', regex=False).str.strip().astype(int)

In [13]:
# converting to float
df['Acquisition_Cost'] = df['Acquisition_Cost'].replace('[\$,]', '', regex=True).astype(float)

In [14]:
df.rename(columns={'Duration': 'Duration(days)', 'Acquisition_Cost': 'Acquisition_Cost($)'}, inplace=True)

In [15]:
# Handle Target column
df['Gender'] = df['Target_Audience'].apply(lambda x: 'All' if x == 'All Ages' else x.split()[0])
df['Age_Range'] = df['Target_Audience'].apply(lambda x: 'All' if x == 'All Ages' else x.split()[1])

In [16]:
df = df.drop(columns=['Target_Audience'])

In [17]:
df.head()

,Campaign_ID,Campaign_Goal,Duration(days),Channel_Used,Conversion_Rate,Acquisition_Cost($),ROI,Location,Clicks,Impressions,Gender,Age_Range
0,529013,Product Launch,15,Instagram,0.15,500.0,5.790000,Las Vegas,500,3000,Men,35-44
1,275352,Market Expansion,15,Facebook,0.01,500.0,7.210000,Los Angeles,500,3000,Women,45-60
2,692322,Product Launch,15,Instagram,0.08,500.0,0.430000,Austin,500,3000,Men,45-60
3,675757,Increase Sales,15,Pinterest,0.03,500.0,0.909824,Miami,293,1937,Men,25-34
4,535900,Market Expansion,15,Pinterest,0.13,500.0,1.422828,Austin,293,1937,Men,45-60

In [18]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300000 entries, 0 to 299999
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Campaign_ID          300000 non-null  int64
 1   Campaign_Goal        300000 non-null  object
 2   Duration(days)       300000 non-null  int32
 3   Channel_Used         300000 non-null  object
 4   Conversion_Rate      300000 non-null  float64
 5   Acquisition_Cost($)  300000 non-null  float64
 6   ROI                  300000 non-null  float64
 7   Location             300000 non-null  object
 8   Clicks               300000 non-null  int64
 9   Impressions          300000 non-null  int64
 10  Gender               300000 non-null  object
 11  Age_Range            300000 non-null  object
dtypes: float64(3), int32(1), int64(3), object(5)
memory usage: 26.3+ MB

In [19]:
df_unique = df.drop_duplicates(subset=['Campaign_ID'])

In [20]:
df.shape

(300000, 12)

In [21]:
# Step 1: Estimate conversions from clicks and conversion rate
df['conversions'] = df['Conversion_Rate'] * df['Clicks']

# Step 2: Calculate spend
df['Total_spend'] = df['Acquisition_Cost($)'] * df['conversions']

In [22]:
df.head()

,Campaign_ID,Campaign_Goal,Duration(days),Channel_Used,Conversion_Rate,Acquisition_Cost($),ROI,Location,Clicks,Impressions,Gender,Age_Range,conversions,Total_spend
0,529013,Product Launch,15,Instagram,0.15,500.0,5.790000,Las Vegas,500,3000,Men,35-44,75.00,37500.0
1,275352,Market Expansion,15,Facebook,0.01,500.0,7.210000,Los Angeles,500,3000,Women,45-60,5.00,2500.0
2,692322,Product Launch,15,Instagram,0.08,500.0,0.430000,Austin,500,3000,Men,45-60,40.00,20000.0
3,675757,Increase Sales,15,Pinterest,0.03,500.0,0.909824,Miami,293,1937,Men,25-34,8.79,4395.0
4,535900,Market Expansion,15,Pinterest,0.13,500.0,1.422828,Austin,293,1937,Men,45-60,38.09,19045.0

In [23]:
df.columns

Index(['Campaign_ID', 'Campaign_Goal', 'Duration(days)', 'Channel_Used',
       'Conversion_Rate', 'Acquisition_Cost($)', 'ROI', 'Location', 'Clicks',
       'Impressions', 'Gender', 'Age_Range', 'conversions', 'Total_spend'],
      dtype='object')

In [24]:
df['CTR'] = df['Clicks'] / df['Impressions']

In [26]:
df['Revenue'] = (df['Total_spend'] * (1 + df['ROI'])).round(2)

In [27]:
df = df.drop(columns=['Location', 'Gender'])

In [28]:
df.head()

,Campaign_ID,Campaign_Goal,Duration(days),Channel_Used,Conversion_Rate,Acquisition_Cost($),ROI,Clicks,Impressions,Age_Range,conversions,Total_spend,CTR,Revenue
0,529013,Product Launch,15,Instagram,0.15,500.0,5.790000,500,3000,35-44,75.00,37500.0,0.166667,254625.00
1,275352,Market Expansion,15,Facebook,0.01,500.0,7.210000,500,3000,45-60,5.00,2500.0,0.166667,20525.00
2,692322,Product Launch,15,Instagram,0.08,500.0,0.430000,500,3000,45-60,40.00,20000.0,0.166667,28600.00
3,675757,Increase Sales,15,Pinterest,0.03,500.0,0.909824,293,1937,25-34,8.79,4395.0,0.151265,8393.67
4,535900,Market Expansion,15,Pinterest,0.13,500.0,1.422828,293,1937,45-60,38.09,19045.0,0.151265,46142.76

In [30]:
df.to_csv("C:/Users/DELL/Downloads/Campaign_data.csv", index=False)